{% extends 'page_full.html.twig' %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{{ "HelloMessage"|trans({"name": "Contigo"}) }}</h1>
    </div>
{% endblock %}
