{% extends 'base.html.twig' %}

{% block body %}
    <body>
        <div class="wrapper">
            <nav id="sidebar" class="sidebar js-sidebar">
                <div class="sidebar-content js-simplebar">
                    <a class="sidebar-brand" href="{{ url("app_default") }}">
                        <span class="align-middle">Contigo</span>
                    </a>
                    {{ knp_menu_render('main', {'allow_safe_labels': true, 'currentClass' : 'active'}) }}
                </div>
            </nav>

            <div class="main">
                <nav class="navbar navbar-expand navbar-light navbar-bg">
                    <a class="sidebar-toggle js-sidebar-toggle">
                        <i class="hamburger align-self-center"></i>
                    </a>

                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav navbar-align">
                        </ul>
                    </div>
                </nav>

                <main class="content">
                    {% block content %}{% endblock %}
                </main>

            </div>
        </div>
    </body>
{% endblock %}
